@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

@media (max-width: 960px) {
  .container {
    width: 700px;
  ul {
    flex-wrap: wrap;
  }
  }
}

body {
  background-image: url(images/bg-water.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(234, 238, 237);
  font-size: 2vw;
  line-height: 1.1;
  text-align: center;
}
h1 {
  color: rgb(47, 47, 47);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  line-height: 1.1;
}
h2 {
  color: rgb(5, 31, 90);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3vw;
  line-height: 1.2;
  padding-bottom: 35px;
}
h3 {
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  line-height: 10px;
}
a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}
a:hover {
    color: white;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.card {
  background-color: rgb(168, 166, 166, .5);
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 40px;
  box-shadow: 10px 10px 30px;
}
.img {
  height: 30%;
  width: 30%;
  border-radius: 60%;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

ul li {
  margin: 0 50px;
  list-style: none;
}
ul li i {
  font-size: 4vw;
}
.fidget {
  background: rgb(162, 160, 160, .4);
  border-color: rgb(90, 88, 88);
  height: 40px;
  width: 14vw;
  }
.small-text {
  font-size: 1vw;
  color: rgb(241, 241, 241);
}
.fidget:hover {
  color: black;
  background-color: white;
}
